h1 {
  margin-top: 25px;
  text-align: center;
}

.splash-category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.splash-category mat-card {
  flex: 1;
  max-width: 300px;
  min-width: 300px;
  height: 300px;
  margin: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 342px) {
  .splash-category mat-card {
    min-width: calc(100vw - 42px);
    height: calc(100vw - 42px);
  }
}
