.flex_span {
  flex: 1 1;
}

.splash-title,
[mat-button] {
  text-transform: capitalize;
}

[mat-button]:not(:nth-child(4)) {
  margin-right: 16px;
}

a[mat-button] {
  font-size: xx-large;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

.active {
  border-bottom: 1px solid white;
  border-radius: 0;
  color: gold;
  border-color: gold;
}

.responsiveActive {
  border: 1px solid white;
  border-radius: 5px;
  color: gold;
  border-color: gold;
}

.lowerCase {
  text-transform: none;
}

.small-margin-left {
  margin-left: -25px;
}
