.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: stretch;
  max-width: 600px;
  margin: auto;
}

.small-margin-top {
  margin-top: 16px;
}

.red-color {
  color: rgba(218, 22, 22, 0.739);
}