<div class="flex-display">
  <h1>{{data.product.name | uppercase}}</h1>
  <span class="flex-1-1"></span>
  <button mat-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-card [style.marginTop]="'20px'" [style.backgroundColor]="'#353535'">
  <form [formGroup]="form" (ngSubmit)="writeComment()">
    <mat-form-field class="max-width">
      <mat-label>Comment</mat-label>
      <textarea matInput type="text" name="comment" placeholder="Such a good product!" required
        formControlName="comment" cdkTextareaAutosize cdkAutosizeMinRows="3"></textarea>
    </mat-form-field>
    <div *ngIf="refreshStars === 1">
      <star-rating class="text-align-end" [value]="-1" [totalstars]="5" checkedcolor="gold" uncheckedcolor="black"
        size="24px" [readonly]="false" (rate)="pickStar($event)">
      </star-rating>
    </div>
    <button type="submit" mat-raised-button color="primary" class="max-width" [disabled]="form.invalid">WRITE</button>
  </form>
</mat-card>
<div *ngIf="refreshStars === 1">
  <h2 class="comment-h2">Other user's opinion:</h2>
  <star-rating class="star-margin" [value]="averageStars" [totalstars]="5" checkedcolor="gold" uncheckedcolor="black"
    size="24px" [readonly]="true"></star-rating>
</div>
<mat-card class="comment-card" *ngFor="let item of comments" appOnHover>
  <mat-card-header>
    <mat-card-title>{{item.writer}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{item.comment}}</p>
  </mat-card-content>
  <mat-card-actions>
    <star-rating class="text-align-end" [value]="item.stars" [totalstars]="5" checkedcolor="gold" uncheckedcolor="black"
      size="24px" [readonly]="true">
    </star-rating>
    <p>{{item.date}}</p>
  </mat-card-actions>
</mat-card>
