.comment-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-h2 {
  margin: 30px auto -20px auto;
}

.text-align-end {
  text-align: end;
}

.star-margin {
  margin-top: 5px;
  margin-left: 10px;
}

.flex-display {
  display: flex;
}

.flex-1-1 {
  flex: 1 1;
}
